

.logo,.title{
    text-align: center;
    margin: 10px;
}
.decription{
    text-align: justify;
}
.title{
    font-size: 40px;
    font-weight: 700;
}
.screenshot{
    height: 400px;
    margin: 4px;
}
a{
    text-decoration: none;
}
.download {
    text-align: center;
    margin: 20px;
}
.sccon{
    background: rgb(255, 248, 235);
}
.center{
    text-align: center;
}
.details a{
    margin: 20px;
}