
body{
    background: rgb(203, 245, 245);
    
}
.container2{
    color: rgb(6, 58, 58);
}
header{
    position:static;
    display: inline-block;
    width: 100%;
    padding: 4px;
    color: aqua;
    background: rgb(2, 83, 107);
    
}
header h4 {
    display: inline;
}
.recent{
    display: inline-block;
    position: relative;
    padding: 4px;

}
.apks{
    display: inline-block;
    position: relative;
    background: rgb(185, 205, 241);
    margin: 10px;
    border: 2px solid red;
    padding: 10px;
    width: 200px;
    height: 300px;
}
.apks .logo img{
    width: 100px;
    height: 180px;
}
.links {
    display: inline-block;
}
.links a{
    text-decoration: dotted;
    background: aqua;
    padding: 5px;
    margin: 5px;
    font-weight: 600;
    border-radius: 2px;
    

}